<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
            rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
            crossorigin="anonymous"
    >
    <title>Добавление нового студента</title>
</head>
<body>
<div class="container-sm" >
    <div class="col-6">
        <form method="post" th:action="@{'/add'}" class="row g-2" th:object="${student}">
            <legend>Студент</legend>
            <div class="col-12" >
                <label for="Id" class="form-label"><b>Id</b></label>
                <input type="text" id="Id" class="form-control" th:field=="*{id}" readonly>
            </div>
            <div class="col-12">
                <label for="name" class="form-label"><b>Имя</b></label>
                <input type="text" id="name" class="form-control" th:field=="*{name}">
            </div>
            <div class="col-12">
                <label for="age" class="form-label"><b>Возраст</b></label>
                <input type="number" step=1 class="form-control" id="age" th:field="*{age}">
            </div>
            <div class="col-12 mt-3">
                <a type="button" class="btn btn-primary" th:href=@{'/'}>Назад</a>
                <button type="submit" class="btn btn-primary" th:href=@{'/add'}>Добавить</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>